{{> partials/dashboard/header }}

<main class="mt-5">
    <section class="container">
        <div class="row py-5">
            <div class="col-md-6 m-auto">
                <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> {{pageTitle}}</h1>

                {{> partials/alertMessages}}

                <div class="card card-body">
                    <form action="/dashboard/game-machines" method="POST">
                        <div class="form-group">
                            <label for="name">Game machine money</label>
                            <input type="number" id="money" name="money" class="form-control" placeholder="Enter money"
                                value="{{money}}" step="0.01" required />
                        </div>
                        <div class="form-group">
                            <label for="name">Casino</label>
                            <select id="CasinoId" name="CasinoId" class="form-control">
                                {{#each casinos}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

{{> partials/dashboard/footer}}