{{> partials/header }}

<main>
    <section class="container">
        <div class="row py-5">
            <div class="col-12 my-auto">
                <div class="row text-center">
                    {{#if casinos}}
                        {{#each casinos}}
                            <div class="col-lg-4 mb-4">
                                <div class="card h-100 copyable">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                        <h1 class="display-2 text-primary casino-icon-item"><span class="casino-icon"></span></h1>
                                        <h4 class="card-title text-primary">{{name}}</h4>

                                        <a href="/casinos/{{id}}" class="btn btn-primary mt-auto copyable">Enter</a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <div class="col-xl-12 col-lg-10 py-2 text-center">
                            <p class="lead mb-3">Casinos not found!</p>
                        </div>
                    {{/if}}

                </div>
            </div>
        </div>
    </section>
</main>

{{> partials/footer }}