.casino-icon-item {
    width: 100px;
    height: 100px;
}

.casino-icon {
    display: block;
    width: 100%;
    height: 100%;
    background: url("/img/casino.svg") no-repeat;
    background-position: center, center;
    background-size: contain;
}